<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File" />
    <add key="serilog:write-to:File.path" value="Logs\Log.txt" />
    <add key="serilog:write-to:File.rollingInterval" value="3" />
  </appSettings>
</configuration>